/Projeto/DigitalCare/nbproject/private/
/Projeto/DigitalCare/build/
/Projeto/DigitalCare/dist/
/Projeto/DigitalCare/src/java/conexao/bancoDados.properties
/Projeto/Aula7Sockets/nbproject/private/
/Projeto/Aula7Sockets/build/
BLA.txt
